# Project1: Writing a Data Scientist Blog Post

## Seattle Airbnb open datasets  
Difficult one, waiting after getting the certificates ...

## Business understanding
there are questions I wnat to explore in Seattle Airbnb open datasets  
1. What's is the distribution of airbnb in neighbourhood ? can we say the more airbnbs in neighbourhood, the airbnb prices are higher ?  
2. When is the popular seasons to visit Seattle ? how is the price changing ?  
3. How well can we predict an airbnb price? What variables correlate well with airbnb price ?  
4. Can you describe the vibe of each Boston neighborhood using listing descriptions?  
5. Is there a general upward trend of both new Airbnb listings and total Airbnb visitors to Seattle? 
6.  if there is anything about the properties that helps you predict price ?
7.  Can you find negative and positive reviews based on the text?

# Data understanding

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from collections import defaultdict

In [36]:
# reading raw data
'''
Listings, including full descriptions and average review score
Reviews, including unique id for each reviewer and detailed comments
Calendar, including listing id and the price and availability for that day
'''
df_Seattle_listing = pd.read_csv('./Seattle Airbnb Open Data/listings.csv')
df_Seattle_calendar = pd.read_csv('./Seattle Airbnb Open Data/calendar.csv')
df_Seattle_reviews = pd.read_csv('./Seattle Airbnb Open Data/reviews.csv')

In [37]:
pd.set_option('display.max_columns',500)
# df_Seattle_listing.head()

In [38]:
# dataframe are huge, drop columns which are usless for our business questions
# the columns relating urls are surely useless
df_Seattle_listing = df_Seattle_listing.drop(columns=['listing_url','scrape_id','zipcode','host_url','host_response_time',
                                                      'host_picture_url','host_verifications','host_thumbnail_url',
                                                     'host_has_profile_pic','host_identity_verified','latitude','longitude',
                                                     'thumbnail_url','medium_url','picture_url','xl_picture_url'])
df_Seattle_listing = df_Seattle_listing.drop(columns=['square_feet','experiences_offered','host_is_superhost','is_location_exact',
                                                     'require_guest_profile_picture','require_guest_phone_verification','requires_license',
                                                     'instant_bookable'])

In [46]:
df_Seattle_listing[df_Seattle_listing.id == 953595]

,id,last_scraped,name,summary,space,description,neighborhood_overview,notes,transit,host_id,host_name,host_since,host_location,host_about,host_response_rate,host_acceptance_rate,host_neighbourhood,host_listings_count,host_total_listings_count,street,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,city,state,market,smart_location,country_code,country,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,price,weekly_price,monthly_price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,maximum_nights,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,jurisdiction_names,cancellation_policy,calculated_host_listings_count,reviews_per_month
1,953595,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,"Queen Anne is a wonderful, truly functional vi...",What's up with the free pillows? Our home was...,"Convenient bus stops are just down the block, ...",5177328,Andrea,2013-02-21,"Seattle, Washington, United States",Living east coast/left coast/overseas. Time i...,98%,100%,Queen Anne,6.0,6.0,"7th Avenue West, Seattle, WA 98119, United States",Queen Anne,West Queen Anne,Queen Anne,Seattle,WA,Seattle,"Seattle, WA",US,United States,Apartment,Entire home/apt,4,1.0,1.0,1.0,Real Bed,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$150.00,"$1,000.00","$3,000.00",$100.00,$40.00,1,$0.00,2,90,today,t,13,13,16,291,2016-01-04,43,2013-08-19,2015-12-29,96.0,10.0,10.0,10.0,10.0,10.0,10.0,NaN,WASHINGTON,strict,6,1.48

In [41]:
df_Seattle_calendar.columns, df_Seattle_calendar.shape

(Index(['listing_id', 'date', 'available', 'price'], dtype='object'),
 (1393570, 4))

In [47]:
df_Seattle_calendar[df_Seattle_calendar.listing_id == 953595]

     listing_id        date available    price
365      953595  2016-01-04         t  $125.00
366      953595  2016-01-05         t  $125.00
367      953595  2016-01-06         f      NaN
368      953595  2016-01-07         f      NaN
369      953595  2016-01-08         f      NaN
..          ...         ...       ...      ...
725      953595  2016-12-29         t  $229.00
726      953595  2016-12-30         t  $294.00
727      953595  2016-12-31         t  $358.00
728      953595  2017-01-01         t  $439.00
729      953595  2017-01-02         t  $400.00

[365 rows x 4 columns]

In [42]:
df_Seattle_reviews.columns, df_Seattle_reviews.shape

(Index(['listing_id', 'id', 'date', 'reviewer_id', 'reviewer_name', 'comments'], dtype='object'),
 (84849, 6))

In [48]:
df_Seattle_reviews[df_Seattle_reviews.listing_id == 953595]

,listing_id,id,date,reviewer_id,reviewer_name,comments
83447,953595,6643648,2013-08-19,7323285,Cherry,The reservation was canceled 33 days before ar...
83448,953595,6643745,2013-08-19,7557645,Georgianne,The reservation was canceled 38 days before ar...
83449,953595,8990789,2013-12-01,1586593,Jo Breen (Jody),This apartment in upper Queen Anne in Seattle ...
83450,953595,12389494,2014-05-01,1586593,Jo Breen (Jody),I have reviewed the Bright + Airy Queen Anne a...
83451,953595,17264483,2014-08-10,13647404,Brian,The Bright + Airy Queen Anne Apartment was per...
83452,953595,17823626,2014-08-18,15108582,Helen,"Fabulous apartment. Very clean, good supply of..."
83453,953595,18322321,2014-08-25,17931620,Ernesto,Andrea and her place were great! She and her p...
83454,953595,19090282,2014-09-06,11137841,Ashley,"Andrea, our host, wasn't in town but she commu..."
83455,953595,19390238,2014-09-11,9123455,Courtney,Andrea was a great host - very easy going and ...
83456,953595,26515505,2015-02-15,3243449,Mehmet Cenk,Best place to stay in Seattle.
83457,953595,27590057,2015-03-08,5761971,Pamela,I was in Seattle for a job and the apartment w...
83458,953595,27863021,2015-03-13,29042686,Ross,I booked Andrea's place last minute for my par...
83459,953595,27982180,2015-03-15,10662684,Erin,We had the most lovely stay in this adorable a...
83460,953595,28216458,2015-03-20,28190723,David,We had a fantastic time visiting Seattle and A...
83461,953595,28707697,2015-03-29,602284,Annette,"The apartment was comfortable, very clean, eas..."
83462,953595,29377228,2015-04-07,13747383,Robin,Andrea was very kind and informative when I co...
83463,953595,29754189,2015-04-12,4101992,Caroline,Really enjoyed our Seattle weekend in Andrea's...
83464,953595,30108342,2015-04-17,22357676,Carrie,This apartment was adorable and looked just as...
83465,953595,30231665,2015-04-19,30020119,Sonia,Just stayed a couple of night at Andrea's plac...
83466,953595,30515210,2015-04-23,22623095,Avery,Five words: I want to live here.\r\nOnly downs...
83467,953595,30626211,2015-04-25,30077810,Manuel,I can't put into words how amazing this place ...
83468,953595,31706589,2015-05-09,7599673,Nichole,"The apartment was clean, modern, spacious, qui..."
83469,953595,32824225,2015-05-22,7840070,Magdalena,Andrea is a very kind and welcoming host.\r\nS...
83470,953595,33045702,2015-05-24,29941183,Angela,Andrea and Greg were great hosts. Even though...
83471,953595,34353354,2015-06-07,31763451,Laura,Amazing!!!! The apartment was super comfortabl...
83472,953595,34937469,2015-06-14,4340677,Cheryl,This is our first AirBNB stay and Andrea and h...
83473,953595,35270667,2015-06-16,5176425,Denis,Staying at Andrea's place was easy and awesome...
83474,953595,35784523,2015-06-22,30707843,Hugh,Andrea was very responsive and provided a deta...
83475,953595,36278226,2015-06-27,11878123,Emily,Andrea was an amazing host and provided clear ...
83476,953595,41569451,2015-08-08,15949767,Tracy,We stayed in the flat for 6 weeks and it was a...
83477,953595,42882459,2015-08-16,32749125,David,Our stay at Andrea's apartment in Queen Anne w...
83478,953595,44003638,2015-08-23,807481,Adama,"Andrea's apartment is in a great, quiet neighb..."
83479,953595,44552008,2015-08-27,37231989,Jill,Wonderful time at Bright and Airy. A great apa...
83480,953595,45265589,2015-09-01,37845345,Ela,We had a great stay at Andrea's place in Queen...
83481,953595,45640313,2015-09-04,20572933,Caitlin,Beautiful apartment in a great location. Pictu...
83482,953595,45982304,2015-09-07,40318785,Hyun,I booked a trip to Seattle for my parents and ...
83483,953595,46794887,2015-09-13,5804411,Noel,"Thank you Andrea. The AirBnB was spacious, qui..."
83484,953595,47993799,2015-09-22,25541428,Terry,Andrea prepared a wonderful Queen Anne Hill/ S...
83485,953595,48585999,2015-09-27,12165808,"Manuel, Debbie And Justin",Andrea sent us a complete information packet b...
83486,953595,51614652,2015-10-22,103808,Maggie,I felt so welcome from the moment I arrived in...
83487,953595,51848767,2015-10-24,20742756,Samit,Wonderful house and location. Andrea was reall...
83488,953595,55132411,2015-11-28,48161596,Burton,We rented Andrea's apartment for family that w...
83489,953595,57778209,2015-12-29,48078145,Valerie,Andrea was an amazing host. Before we arrived ...

In [13]:
df_Seattle = pd.merge(df_Seattle_calendar,df_Seattle_reviews,how='inner',on=['listing_id'],suffixes=('_calendar', '_reviews'))

In [14]:
df_Seattle.dropna().shape

(22485359, 9)

In [7]:
df_Seattle_listing = df_Seattle_listing.rename(columns={'id':'listing_id'})

In [8]:
df_Seattle = pd.merge(df_Seattle_listing,df_Seattle,on='listing_id')
df_Seattle.shape

(30969885, 100)

In [9]:
df_Seattle.dropna()

MemoryError: Unable to allocate 15.7 GiB for an array with shape (68, 30969885) and data type object